fastapi
uvicorn[standard]
python-multipart
python-dotenv

langchain
langchain-community
langchain-core
langchain-google-genai
langchain-postgres
langchain-text-splitters

pypdf
psycopg[binary]
pgvector
sqlalchemy